.container-fluid{
	margin-left: 30px;
	margin-right: 30px;
}
.heading{
	color: $dark-grey;
	margin-left:30px;
}
.show-card{
	padding: 15px 20px;		
}
.form-div{
	width: 70%;
	margin: 0 auto;
	margin-top: 30px;
}
.form-group{
	padding: 30px 0;
}
label{
	font-size: 20px;
}
.right-button{
	float: right;
	right: 40px;
	margin-top: 30px;
}
.panel-body{
	padding-top: 10px;
}
.warning{
	color: red;
}