<%- model_class = Profile -%>
<%= stylesheet_link_tag 'container_host'%>
<div class="page-header">
  <h3 class="heading center"><%=t '.title', :default => "Create #{model_class.model_name.human.titleize}" %></h3>
</div>
<div class="container-fluid form-div">
  <div class= "card">
		<%= render 'form', profile: @profile, submit_tag_name: 'Create', method: 'post', url: profiles_create_path %>
	</div>
</div>
